/*=======RESET=======*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*=======END RESET=======*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --accent-text-color: #2196f3;
  --bgc-hero-color: #2f303a;
  --bgc-team-color: #f5f4fa;
}
body {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  background-color: var(--white-text-color);
}

/* Сброс ul */
.list {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--black-text-color);
}
.accent {
  color: var(--accent-text-color);
}

/* Header */
.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: Var(--accent-text-color);
}
.contact {
  color: var(--primary-text-color);
}
.current {
  color: var(--accent-text-color);
}

/* Hero */
.hero {
  background: var(--bgc-hero-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-text-color);
  letter-spacing: 0.06em;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  letter-spacing: 0.06em;

  font-family: Roboto, sans-serif;
}

/* description "description-text" from bady */
.description-subtitle {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

/* What we do and Team */
.about-title,
.team-title,
.description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);

  text-align: center;
}

/* Team */
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);

  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--bgc-hero-color);
}
.footer-link,
.footer-address {
  font-style: normal;
  color: var(--footer-text-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-color);
}
.withe {
  color: var(--white-text-color);
}

/* Portfolio */
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}
.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
